body {
    font-family:"Raleway", "Sans-serif" ;
    margin: 0;
}
/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin:auto;
    border: solid 1px black;
    
}

header img {
    margin-left: 40px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-right: 20px;;
}

.search-filter


.icon {
    color: #0065FC;
}